PyQt6~=6.5.0
future~=0.18.3
pip~=23.0.1
wheel~=0.40.0
six~=1.16.0
setuptools~=67.6.1
pynput~=1.7.6
numpy~=1.24.3
Pillow~=9.5.0
python-dateutil~=2.8.2
matplotlib~=3.7.1
contourpy~=1.0.7
fonttools~=4.39.4
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=23.1
kiwisolver~=1.4.4
mss~=9.0.1
pytesseract~=0.3.10